---
Checks: "*,
    -clang-diagnostic-*-compat,
    -cppcoreguidelines-init-variables,
    -*-magic-numbers,
    -*-else-after-return,
    -readability-avoid-const-params-in-decls,
    -readability-convert-member-functions-to-static,
    -readability-function-cognitive-complexity,
    -llvmlibc-*,
    -llvm-header-guard,
    -llvm-include-order,
    -misc-unused-parameters,
    -misc-non-private-member-variables-in-classes,
    -misc-no-recursion,
    -misc-definitions-in-headers,
    -modernize-return-braced-init-list,
    -modernize-use-trailing-return-type,
    -modernize-use-nodiscard,
    -fuchsia-default-arguments-declarations,
    -fuchsia-default-arguments-calls,
    -fuchsia-trailing-return,
    -fuchsia-overloaded-operator,
     -*-uppercase-literal-suffix,
    -google-build-using-namespace,
    -google-global-names-in-headers,
    -google-readability-todo,
    -*-namespace-comment,
    -altera-unroll-loops,
    -altera-id-dependent-backward-branch,
    -altera-struct-pack-align,
    -bugprone-easily-swappable-parameters
"
HeaderFilterRegex: ".*"
FormatStyle: none
